<div class="loader"></div>

<br><br><br>
<div class="emptyMessage" ng-if="nidc.emptySearch || nidc.nothingFound"> Nothing found</div>

<div ng-if="nidc.foundItems != undefined && nidc.foundItems.length != 0">
  <h2>Search Results:</h2>
  <h4 class="blink">Displaying {{ nidc.foundItems.length }} results</h4>
  <br>
  <table class="text-center table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Short Name</th>
            <th>Description</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr id="seachItem" ng-repeat="item in nidc.foundItems">
          <td>{{ item.name }}</td>
          <td>{{ item.short_name }}</td>
          <td>{{ item.description }}</td>
          <td><button class="btn btn-default" ng-click="nidc.onRemove({index: $index});"><span class="glyphicon glyphicon-remove" id="removeIcon"></span> Don't want this one!</button></td>
        </tr>
    </tbody>
  </table>
  <!-- <ul>
    <li id="seachItem" ng-repeat="item in nidc.foundItems">
      {{ item.name }} {{ item.short_name }} {{ item.description }}
      <button class="btn btn-default" ng-click="nidc.onRemove({index: $index});"><span class="glyphicon glyphicon-remove" id="removeIcon"></span> Don't want this one!</button>
    </li>
  </ul> -->
</div>
